header{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    align-items: center;
    margin: 0 auto;
}
.flex-evenly{
    display: flex;
    justify-content: space-evenly;
}

.flight-search{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.search-form{
    width: 20%;
}
.result-container{
    width: 70%;
    /* border:5px solid red; */
}
.result-head{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    border-radius: 25px;
    background-color: rgb(200, 235, 235);
    margin: 20px auto;
}

.trip-search-container{
    display: flex;
    flex-direction: column;
    border:5px solid red;
    border-radius: 10px;
    background-color: rgb(161, 161, 161);
}
.trip-search-form{
    padding: 15px;
    display: flex;
    flex-direction: column;
}
.trip-search-form>div{
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.trip-search-form>button{
    padding: 10px;
    border-radius: 20px;
    border:none;
    width:90%;
    margin:5px auto;
    font-size: 20px;
    font-weight: bold;
}
.trip-search-form>button:hover{
    cursor: pointer;
    background-color: green;
    color:white;
}
.trip-selection>button{
    background-color: grey;
    color:white;
    padding: 10px;
    border-radius: 10px;
    width: 50%;
    font-size: 20px;
    font-weight: bold;
}
.trip-selection>button:disabled{
    background-color: green;
}

.refine-search{
    padding: 35px;
}
.input-range__label{
    color: red !important;
    font-size: 15px;
}

.header-date-info{
    font-weight: 700;
    font-size: 18px;
}

input{
    padding:10px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
}
select{
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
}
label{
    font-size: 20px;
}

.flight-card-container{
    display: flex;
    border-radius: 25px;
    background-color: rgb(187, 187, 187);
    padding: 20px;
    margin:10px auto;
}
.flight-info{
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    font-size: 20px;
    align-items: center;
}
.oneway-trip{
    display: flex;
}
.trip-info{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.info-section{
    width: 80%;
}

.book-section{
    display: flex;
    flex-direction: column;
    width: 180px;
    margin: 0 auto;
}

.book-section>img{
    border-radius: 10px;
}

.book-section>button{
    border:none;
    padding:10px;
    border-radius: 10px;
    font-weight: 600;
    margin: 5px 0;
}
.book-section>button:hover{
    color:red;
    cursor: pointer;
    background-color: burlywood;
    border:2px solid black;
}

