header{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    align-items: center;
    margin: 0 auto;
}
.flex-evenly{
    display: flex;
    justify-content: space-evenly;
}

.flight-search{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.search-form{
    width: 20%;
}
.result-container{
    width: 70%;
    border:5px solid red;
}

.trip-search-container{
    display: flex;
    flex-direction: column;
    border:5px solid red;
    border-radius: 10px;
    background-color: rgb(161, 161, 161);
}
.trip-search-form{
    padding: 15px;
    display: flex;
    flex-direction: column;
}
.trip-search-form>div{
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.trip-search-form>button{
    padding: 10px;
    border-radius: 20px;
    border:none;
    width:90%;
    margin:5px auto;
    font-size: 20px;
    font-weight: bold;
}
.trip-search-form>button:hover{
    cursor: pointer;
    background-color: green;
    color:white;
}
.trip-selection>button{
    background-color: white;
    color:green;
}
input{
    padding:10px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
}
select{
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
}
label{
    font-size: 20px;
}

.flight-card-container{
    display: flex;
    border:2px solid blue;
}
.flight-info{
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    font-size: 20px;

}
.oneway-trip{
    display: flex;
}
.trip-info{
    display: flex;
    justify-content: space-around;

}
.info-section{
    width: 80%;
}

.book-section{
    display: flex;
    flex-direction: column;
    width: 200px;
}

.book-section>button{
    border:none;
    padding:10px;
    margin: 5px;
    border-radius: 10px;
    font-weight: 600;
}
.book-section>button:hover{
    color:red;
    cursor: pointer;
    background-color: burlywood;
    border:2px solid black;
}